body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.square {
    background-color: white;
    border: 1px solid black;
    width: 400px;
    height: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
}

.square h1 {
    margin-bottom: 40px;
}

.id,
.password {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

.square button {
    padding: 10px 20px;
    margin: 25px 5px 5px 5px;
    border: 0px;
    background-color: skyblue;
    color: white;
    border-radius: 4px;
}

.square button:hover {
    background-color: blue;
}