body {
    font-family: Arial, sans-serif;
    margin: 0;
}



.category {
    background: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin-top: 10px; /* category 아래 여백 */
}

.sidebar {
    width: 250px; /* 사이드바 너비 */
    background: #e0e0e0;
    padding: 10px;
}

.content {
    flex-grow: 1; /* 나머지 공간을 차지 */
    padding: 10px;
    background: #fff;
    border-left: 1px solid #ccc;
}

.category-item {
    margin: 10px 0;
}

.category-item ._category {
    display: none; /* 기본적으로 서브 카테고리를 숨김 */
}

.category-item:hover ._category {
    display: block; /* 마우스 오버 시 서브 카테고리 표시 */
}


.logo-icon {
    width: 100px;
}